body {background-color: #eee;}

h1, h3 {
  font-family: "Helvetica Neue", "Segoe UI", Arial;
  font-weight: normal;
}

.container {
  max-height: 60vh;
  max-width: 60vw;
}


/* Styling for titles and children */
#titles{
  display: block;
  clear: both;
  overflow: auto;
}

#titles > h1 {margin-bottom: 0;}


/* Styling for grid and children */
#grid {
  height: 500px;
  width: 500px;
  position: relative;
}

div {display: inline;}

.btn {
  margin: 0.5%;
  width: 13%;
  height: inherit;
}

.circle {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5%;
  width: 13%;
  height: 12.5%;
  border-radius: 50%;
}

.empty {background-color: grey;}

.red {background-color: red;}

.gold {background-color: gold;}